.cart-icon{
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    position:relative;
    width:2.2rem;
    height:2.2rem;
    transform:translateY(-15%);
    .Bag{
    width:1.9rem;
    height:1.9rem;

}
.quan{
    position:absolute;
    font-size:1rem;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}
}
.alert{color:red}